* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset */

/* Inserimento clearfix per allinera testo vicino alle photo*/
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: 'Nunito', sans-serif;
}

/* stilizzazione container*/
.container {
    /*width: 1360px;*/
    max-width: 1360px; /*meglio dare dimensioni massime*/
    margin-left: auto;
    margin-right: auto;
    padding: 40px 10px 20px;
    text-align: center;
}

/* Stilizzazione Titolo*/
h1 {
    color: #E5316F;
    margin-bottom: 50px;
}

/* Stilizzazione delle card */
.card{
    float: left;
    width: calc(100% / 3);
    color: white;
    padding: 20px;
    
}
.card:nth-child(3n + 1) {
    padding-left: 0;
}

.card:nth-child(3) {
    padding-right: 0;
}



.card .card-imposted {
    
    background-color: #0f0e17;

    box-shadow: 8px 8px 12px rgba(0,0,0, 0.2);
}

.card .card-photo {

    float: left;

    margin-right: 16px;
}

.card .card-photo img {
    display: block;

    height: 120px;
    width: auto;
}

.card .card-description {
    text-align: left;

    padding: 16px 0;
}

.card .card-description > * {
    display: block;

    margin-bottom: 0.4em;
}

.card .card-description strong {
    text-transform: uppercase;
}

.card .card-description a {
    color: #26d9f8;
    text-decoration: none;
}
